<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
   
<!-- Page content -->
<div class="w3-main" >
<div id="Borge" class="w3-container person">
  <br>
  <img class="w3-round  w3-animate-top" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11726894.jpg" style="width:30%;">
  
  <div class="double">

      <label class="line" style="margin-bottom:30px;margin-left:30px;">MY Bachelor Abroad related information :</label><br><br>

      <label  style="margin-left:30px;">Name :</label>
      <label  style="margin-left:80px;">{{currentUser.name}}</label>
   <br>
    
    <label  style="margin-left:30px;">Major :</label>
    <label  style="margin-left:80px;">{{currentUser.major}}</label>
   <br>
    
    
    <label  style="margin-left:30px;">University :</label>
    <label  style="margin-left:80px;">{{currentUser.bachUni}}</label>
   <br>
    
  
    <label  style="margin-left:30px;">Country :</label>
    <label   style="margin-left:80px;">{{currentUser.bachCountry}}</label>
   <br>
    
    
    <label  style="margin-left:30px;">Year :</label>
    <label   style="margin-left:80px;">{{currentUser.year}}</label>
    <br><br> 
    <label   class="line" style="margin-left:20px;">Detailed Information</label>
    <p  class="double" style="margin-left:10px;margin-right:10px;">
     {{currentUser.info}} </p><br>
  </div>
  
    <form  [formGroup]="formData" (ngSubmit)="onSubmit()">
    <label *ngIf="sendEmail" style="margin-left:30px;">From :</label>
    <input *ngIf="sendEmail" type="text" formControlName="from"
    placeholder="type your name" style="margin-left:30px;margin-top:30px;">

    <label *ngIf="sendEmail" style="margin-left:30px;">Subject :</label>
    <input *ngIf="sendEmail" size="60" type="text" formControlName="subject"
    placeholder="type the subject" style="margin-left:30px;margin-top:30px;">
    <br>

      <textarea placeholder="please write your message here" style="margin-left:30px;" rows="10" cols="120" *ngIf="sendEmail" formControlName="emailBody" >wirte your email here</textarea><br>

      <button class="cs" *ngIf="!sendEmail && loggedIn" type="button" (click)='enableSendemail()'>compose Email  <i class="fa fa-edit"></i></button><br>
    
      <button class="cs" *ngIf="sendEmail"  type="submit"  [disabled]="formData.invalid">Send Mail <i class="fa fa-save"> </i></button><br><br>
  </form>
  
    
</div>
</div> 
</body>
</html> 

