<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
   
<!-- Page content -->
<div class="w3-main" >
<div id="Borge" class="w3-container person">
  <br>
  <img class="w3-round  w3-animate-top" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11726894.jpg" style="width:30%;">
  
  <form class="double" [formGroup]="formData" (ngSubmit)="onSubmit()">

      <label class="line" style="margin-bottom:30px;margin-left:30px;">MY Bachelor Abroad related information :</label><br><br>

      <label  style="margin-left:30px;">Name :</label>
    <label *ngIf="!editProfile && isRetrieved" style="margin-left:80px;">{{currentUser.name}}</label>
    <input *ngIf="editProfile" type="text"formControlName="name"
    placeholder="name" style="margin-left:30px;margin-top:30px;"><br><br>
    
    <label  style="margin-left:30px;">Major :</label>
    <label *ngIf="!editProfile && isRetrieved" style="margin-left:80px;">{{currentUser.major}}</label>
    <input *ngIf="editProfile" type="text" formControlName="major"
    placeholder="major" style=" margin-left:30px;"><br><br>
    
    
    <label  style="margin-left:30px;">University :</label>
    <label  *ngIf="!editProfile && isRetrieved" style="margin-left:80px;">{{currentUser.bachUni}}</label>
    <input  *ngIf="editProfile" type="text" formControlName="bachUni"
    placeholder="university"  style="margin-left:30px;"><br><br>
    
  
    <label  style="margin-left:30px;">Country :</label>
    <label *ngIf="!editProfile && isRetrieved"  style="margin-left:80px;">{{currentUser.bachCountry}}</label>
    <input  *ngIf="editProfile" type="text" formControlName="bachCountry"
    placeholder="country"  style="margin-left:30px;"><br><br>
    
    
    <label  style="margin-left:30px;">Year :</label>
    <label *ngIf="!editProfile && isRetrieved"  style="margin-left:80px;">{{currentUser.year}}</label>
    <input  *ngIf="editProfile" type="text" formControlName="bachYear"
    placeholder="year"  style="margin-left:30px;"><br><br><br> 

    <p class="double" *ngIf="!editProfile && isRetrieved"  style="margin-left:10px;margin-right:10px;">
     {{currentUser.info}} </p><br>
    
      <textarea style="margin-left:30px;" rows="10" cols="120" *ngIf="editProfile" formControlName="info" >Enter text here...</textarea><br>

      <button class="cs" *ngIf="!editProfile" type="button" (click)='enableEdit()'>Edit  <i class="fa fa-edit"></i></button><br>
    
      <button class="cs" *ngIf="editProfile"  type="submit"  [disabled]="formData.invalid">save <i class="fa fa-save"> </i></button><br><br>
  </form>
  
    
</div>
</div> 
</body>
</html> 
