

  <div class="col-xs-12">
    <div style="margin-top: 5px;"  class="row">
      <fieldset class="loginForm center ">
          <div class="container">
  <form #loginForm="ngForm" class="boxMargin" (ngSubmit)="login(loginForm)">

    <h1>Login</h1>
    
    <hr>
    <div *ngIf="error" class="alert alert-danger">
        {{errorMsg}}
       </div>

      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter your email" #email="ngModel" ngModel  name="email" pattern="^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Must be a gmail Ex:XXXXX@gmail.com
     </div>
      </div>
      <div class="form-group">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter a password" name="password" placeholder="Enter Password" #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" ngModel required>

      </div>

       

         <!--all the above inputs were required-->
       
        
        


    <div class="clearfix">
        <button type="submit" class="signupbtn">Login</button>
      <button type="button" routerLink="/home" class="cancelbtn" (click)="cancel()">Cancel</button>
     
    </div>
 
</form>
</div>
</fieldset>
    </div>
  </div>

